.book {
  width: 220px;
  padding: 10px;
  margin: 30px 35px;
  border: 1px solid black;
  text-align: center;
  background: #3a928e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-break: break-all;
  height: 350px;
  border-radius: 3%;
  &__btn{
    width: 110px;
  }
}
