.form_text{
    color:var(--main-color);
    font-family:var(--font-family);
  }
.select{margin: 0 auto;}
.edite_form{
    background-color: #3a928e;
    width: 30%;
    margin: 25px auto ;
    border: 1px solid black;
    border-radius: 3%;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}