  .form{
  position: absolute;
  width: 275px;
  padding: 10px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  margin-top: 70px;
  border: 1px solid black;
  text-align: center;
  background: #3a928e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-break: break-all;
  height: 480px;
  border-radius: 3%;
}
