<form action="" class="form" [formGroup]="createForm" (ngSubmit)="submit()">
    <div class="form_control">
        <p class="form_text">введите название книги</p>
        <input type="text" formControlName="name" />
        <div class="validation" *ngIf="createForm.get('name')?.invalid && createForm.get('name')?.touched">
            <small class="error_text" *ngIf="createForm.get('name')?.errors?.required">
                Поле не может быть пустым</small>
        </div>
    </div>
    <div class="form_control">
        <p class="form_text">введите автора</p>
        <input type="text" formControlName="author" />
        <div class="validation" *ngIf="
          createForm.get('author')?.invalid && createForm.get('author')?.touched">
            <small class="error_text" *ngIf="createForm.get('author')?.errors?.required">
                Поле не может быть пустым</small>
        </div>
    </div>
    <div class="form_control">
        <p class="form_text">введите год написания книги</p>
        <input type="number" formControlName="year" />
        <div class="validation" *ngIf="createForm.get('year')?.invalid && createForm.get('year')?.touched">
            <small class="error_text" *ngIf="createForm.get('year')?.errors?.required">
                Поле не может быть пустым</small>
            <small class="error_text" *ngIf="createForm.get('year')?.errors?.pattern">
                Год должен быть в формате "уууу"</small>
        </div>
    </div>
    <div class="form_control">
        <p class="form_text">введите описание книги</p>
        <input type="text" formControlName="description" />
    </div>
    <div class="form_control">
        <p class="form_text">выберите жанры</p>
        <ng-select class="select" formControlName="genres" [multiple]="true">
            <ng-option *ngFor="let genre of genresList" [value]="genre">{{
                genre.name
                }}</ng-option>
        </ng-select>
        <div class="validation" *ngIf="
          createForm.get('genres')?.invalid && createForm.get('genres')?.touched">
            <small class="error_text" *ngIf="createForm.get('genres')?.errors?.required">
                Поле не может быть пустым</small>
        </div>
    </div>

    <button class="form_btn" type="submit" [disabled]="createForm.invalid">
        Создать книгу
    </button>
</form>
