<div class="forms">
    <app-create-form class="form" (createdBook)="createBook($event)"></app-create-form>
    <app-search-form class="form"></app-search-form>
</div>
<div class="shelf">
    <!-- <app-book (deletedBook)="deleteBook($event)" *ngFor="let book of getList| paginate: { itemsPerPage: itemsPerPage, currentPage: page }" [book]='book'>
</app-book> -->
    <app-book *ngFor="let book of (bookOperationsService.searchBooksList$|async)" [book]='book'>

    </app-book>
</div>
<div>
    <button type="button" class="form_btn" (click)="showCreatedForm()">Создать книгу</button>
</div>
<!-- <pagination-controls (pageChange)="page = $event"
(pageBoundsCorrection)="page = $event"
previousLabel=""
nextLabel=""
[autoHide]="true"
></pagination-controls> -->