<div class="forms">
<app-create-form (createdBook)="getCreatedBook($event)"></app-create-form>
<app-search-form (searchParams)="search($event)"></app-search-form>
</div>
<app-book (deletedBook)="getDeleteBook($event)" *ngFor="let book of listParam ? searchBooksList : booksList| paginate: { itemsPerPage: itemsPerPage, currentPage: page }" [book]='book'></app-book>

<pagination-controls (pageChange)="page = $event"
(pageBoundsCorrection)="page = $event"
previousLabel=""
nextLabel=""
[autoHide]="true"
></pagination-controls>


