<div class="forms">
<app-create-form class="form" (createdBook)="createBook($event)"></app-create-form>
<app-search-form class="form" (searchParams)="search($event)"></app-search-form>
</div>
<div class="shelf">
<!-- <app-book (deletedBook)="deleteBook($event)" *ngFor="let book of getList| paginate: { itemsPerPage: itemsPerPage, currentPage: page }" [book]='book'>
</app-book> -->
<app-book (deletedBook)="deleteBook($event)"  *ngFor="let book of bookslist$| paginate: {id: 'server', itemsPerPage: bookOperationsService.itemsPerPage, currentPage: bookOperationsService.p , totalItems: bookOperationsService.total}" [book]='book'>
</app-book>
</div>
<pagination-controls (pageChange)="bookOperationsService.getPage($event,booksList)" id="server"></pagination-controls>
<!-- <pagination-controls (pageChange)="p = $event"
(pageBoundsCorrection)="p = $event"
previousLabel=""
nextLabel=""
[autoHide]="true"
id= 'server'
></pagination-controls> -->

