/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

*{padding: 0;
margin: 0;}

input {
  &.ng-invalid.ng-touched{border: 1px solid red;}
  &.ng-valid.ng-touched{border: 1px solid green;}
}
.select{
  width: 230px;
  padding:10px 0px;
}
