.no_auth{

    width: 275px;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    text-align: center;
    background: #3d568d;
    border-radius: 4px;
}
.no_auth_text{margin: 10px;}
