
.editeForm{
    background-color: #3a928e;
    width: 20%;
    margin: 70px auto ;
    border: 1px solid black;
    border-radius: 3%;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__input {
    width: 75%;
    }
    &__select{
      width: 75%;
    }
}
